
@{
    ViewBag.Title = "Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Character</h2>


<h3>Reliable</h3>

<br /><br />

<h3>Detail Oriented</h3>
<ul>
<li></li>



</ul>



<br /><br />

<h3>Hit Deadlines</h3>
<ul>
    <li></li>



</ul>



<br /><br />

<h3>Reliable</h3>
<ul>
    <li>Over 12 month period, did not miss one day of work.</li>



</ul>


<br /><br />


<h3>Team Player</h3>
<ul>
    <li></li>



</ul>

