
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Education</h2>

Diploma of Process Piping Drafting, Evergreen College (Calgary, 2017)
  Courses Covered:


         -AutoCAD
         -AutoCAD Plant 3D
         -Plant Equipment

-Pressure Vessel Design
-Process Piping Drafting
-Natural Gas Processing


  Projects in AutoCAD completed in class

         -Foundation Model
         -Pipe Rack Model
         -Equipment Model

-Piping Model
-Piping Isometrics
-Piping and Instrumentation Diagram

ADDITIONAL EDUCATION:
•	Certificate of Nutritionist, Higashichikushi College (Japan 2002)
•	High school diploma, Fukuoka Daiichi High School (Japan 2000)

ADDITIONAL QUALIFICATION:

•	Standard First Aid & CPR (Healthcare Provider Level)
•	Keyboarding  Speed (60 WPM)
•	Intermediate level expertise in Microsoft Word, Excel, and Power Point
