
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Education</h2>



<br />
<img src="~/Content/Images/picturesKanae/small photos/small_Kanae_sign.jpg" />
<br />



<br /><br />

Diploma of Process Piping Drafting, Evergreen College (Calgary, 2017)
  Courses Covered:

<br /><br />
         -AutoCAD<br />
         -AutoCAD Plant 3D<br />
         -Plant Equipment<br />

-Pressure Vessel Design<br />
-Process Piping Drafting<br />
-Natural Gas Processing<br />
<br /><br />

  Projects in AutoCAD completed in class<br />

         -Foundation Model<br />
         -Pipe Rack Model<br />
         -Equipment Model<br />

-Piping Model<br />
-Piping Isometrics<br />
-Piping and Instrumentation Diagram<br /><br />

ADDITIONAL EDUCATION:<br />
•	Certificate of Nutritionist, Higashichikushi College (Japan 2002)<br />
•	High school diploma, Fukuoka Daiichi High School (Japan 2000)<br /><br />

ADDITIONAL QUALIFICATION:<br />

•	Standard First Aid & CPR (Healthcare Provider Level)<br />
•	Keyboarding  Speed (60 WPM)<br />
•	Intermediate level expertise in Microsoft Word, Excel, and Power Point<br />
