
@{
    ViewBag.Title = "Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experience</h2>

EXPERIENCE WITH JOB DETAILS:<br /><br />

<br />
<img src="~/Content/Images/picturesKanae/kanae computer.jpg" />
<br />


Shikiji Japanese Restaurant, Calgary	(2016 – Present)
   Server<br />
•	Guiding customers regarding menu items and daily specials.<br />
•	Working closely with other servers and the kitchen staff to ensure the restaurant is operated efficiently<br />
•	Over the two-year period, never missed a shift<br />
•	Performing top level customer service indicated by tips with very positive reviews by manager<br />

Saien, Japan <br /><br />
   Manager, Funeral Coordinator<br />
•	Coordinated and organized ceremonies.<br />
•	Responsible to manage one of the facilities and its staff schedule<br />
•	Trained junior employees<br />
•	Over a seven-year period, delivered around 100 ceremonies each year on time and on budget<br />
•	Established three training manuals of over 50 pages each used by over 50 employees<br />

<br /><br />
VOLUNTEER EXPERIENCE<br />
<br /><br />
•	Bissell Center (Child Care, Edmonton)<br />
•	Capital Care (Senior Care, Edmonton)<br />

