
@{
    ViewBag.Title = "Porfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Porfolio</h2>


SKILLS:<br />
•	Paying close attention to detail and being precise and accurate
               -Accounting for Bed and Breakfast, 99% accuracy in tracking revenue and
                Expenses<br /><br />

•	Communicating ideas and solutions clearly and concisely<br />
         -Business Communication Course (Bow Valley College, 2016)<br /><br />

•	Writing reports precisely and communicating effectively in writing<br />
               -Academic Writing Course (Bow Valley College, 2016)<br /><br />

•	Understanding roles, structures, and cultures in organizations<br />
         -Organizational Behaviour Course (Bow Valley College, 2016)<br /><br />

•	Managing multiple tasks and solving problems in time<br />
                     -Following check-in/out schedules, cleaning, and maintaining stocks, and
                      scheduling repairs in time<br /><br />